body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  .contactMessage {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
  }
  
.contactMessage {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 30px;
  }

  #newReservationForm{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 30px;
    margin: 40px;
  }

  .myApplications{
    border: 1px solid lightgray;
    border-radius: 10px;
  }

.link {
    cursor: pointer;
    color: teal;
    padding-top: 30px;
    float: right;
    font-size: medium;
    font-weight: bold;
    margin-left: 1.5%;
   
}

input:focus {
  background-color: lightblue;
  border-color: coral;
}

input {
  width: 15%;
  border: 2px solid rgb(175, 175, 175);
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button{
  background-color: #d0d0d0;
  border: none;
  color: rgb(47, 47, 47);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.apartment-details{
  width: 30rem;

}

.image{
  width: 100%;
}

.imageContainer{
  height: 300;
  border: 3px coral solid;
}

.apartmentList {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

label{
  font-weight: bold;
}

h2{
  text-align: center;
}

lengthofstay{
  font-weight: bold;
}

#welcome{
  margin-left: 1%;
}

#logoutButton{
background-color: white;
cursor: pointer;
    color: teal;
    padding-top: 30px;
    float: right;
    font-size: medium;
    font-weight: bold;
    margin-left: 1.5%;
   
    margin: 4px 2px;
    cursor: pointer;
 
}

.loginpage{
  margin: auto;
  width: 50%;
  text-align: center;
}

.logininputs{
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.application{
   display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px
}

/* .application input {
  width: 16rem;
} */


.input-application {
  width: 16rem;
}

#username {
  width: 100%;
}

#password {
  width: 100%;
}

.signup-form {
  width: 50vw;
  margin: 0 auto;
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#password_confirmation {
  width: 100%;
}

#email {
  width: 100%;
}