body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  .contactMessage {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
  }
  
  Form {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
  }

.link {
    cursor: pointer;
    color: rgb(146, 156, 39);
    padding-top: 30px;
    float: right;
}

input:focus {
  background-color: lightblue;
}

input {
  width: 15%;
  border: 2px solid rgb(175, 175, 175);
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button{
  background-color: #d0d0d0;
  border: none;
  color: rgb(47, 47, 47);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.link a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}

.link a:hover {
  color: var(--primaryColor);
}


.App {
  font-family: sans-serif;
  background-image: url("./images/KwaLet_Background.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  overflow-y: scroll;
}
.apartment-details{
  width: 30rem;

}

.image{
  width: 100%;
}

.imageContainer{
  height: 300;
  border: 3px black solid;
}

.apartmentList {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}